.App {
  margin: 70px auto;
  width: 350px;
}
.main-screen {
    border: none; 
    background:none;
    width: 300px;
    height: 100px;
    background-color:rgb(255, 46, 31);
    color: black;
    font-size: 50px;
}
button {
  color: rgb(255, 46, 31);
  height: 40px;
  width: 40px;
  font-size: 25px;
  border-radius: 10px;
  display: inline-block;
}

button:hover {
  background-color: rgb(255, 46, 31);
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
